<ul class="sections">
    <li *ngFor="let section of sections" (click)="switchCategory(section.id)">
        <img [src]="'http://localhost:8080/images/get/' + section.imageId" class="images"
             (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded"/>
        <div class="spinner" *ngIf="!loaded">
            <spinner [isImgSpinnerVisible]="true"></spinner>
        </div>
        <span class="description">{{section.sectionName}}</span>
        <span class="remove-section glyphicon glyphicon-edit"
              (click)="showSectionDialog($event, section.id)"
              *ngIf="storageService.isAdmin()" title="Изменить секцию"></span>
    </li>
    <li (click)="showSectionDialog($event)" *ngIf="storageService.isAdmin()">
        <button type="button" class="btn btn-default btn-circle btn-xl">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <span>Добавить</span>
    </li>
</ul>

<category-group [class.showGroups]="showCategoryFlag" [class.hideGroups]="!showCategoryFlag"></category-group>
