.content {

    .product-title {
        font-size: 23px;
        font-weight: bold;
        margin: 15px;
        display: block;
    }
}

.table {
    margin-bottom: 0;

    .name {
        width: 50%;
        padding-left: 15px;
    }

    .value {
        width: 50%;
        font-weight: bold;
    }
}