<!--<div *ngFor="let categoryGroup of categoryGroups"
     class="row">
  <div>
    {{categoryGroup.categoryGroupName}}
  </div>
  <md-card *ngFor="let category of categories"
           class="col-lg-2 col-md-4 col-sm-6 category">
    <category [category]="category"></category>
  </md-card>
  <md-card class="col-lg-2 col-md-4 col-sm-6 category category-add">
    <img [src]="getPicture()" class="category-add__img">
    <div class="category-add_block">
      <input [(ngModel)]="category.categoryName">
      <div class="fileUpload btn btn-primary">
        <span>+</span>
        <input type="file" class="upload"
               (change)="onFileChange($event)"
               name="file"/>
      </div>
      <button class="btn btn-primary" [disabled]="isAddDisabled()" (click)="upload(categoryGroup)">Добавить</button>
    </div>
  </md-card>
</div>-->


<div class="drop-menu">
  <div class="cat-groups">
    <ul>
      <li>Мобильные телефоны и аксессуары
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Телевидение и видео
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Планшеты и электронные книги
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Аудиотехника
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Фото и видеотехника
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Гаджеты
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Мобильные телефоны и аксессуары
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Телевидение и видео
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Планшеты и электронные книги
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Аудиотехника
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Фото и видеотехника
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Гаджеты
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Фото и видеотехника
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>
      <li>Гаджеты
        <span class="remove-section glyphicon glyphicon-remove" (click)="deleteSection(section.id)"></span>
      </li>

      <li class="add-cat-group"><i class="glyphicon glyphicon-plus"></i> Добавить группу категорий</li>
    </ul>
  </div>

  <div class="categories">
      <category></category>
  </div>
</div>