<!--<div class="drop-menu">
    <ul>
        <li *ngFor="let group of categoryGroups">
            <div class="cat-groups">
                {{group.categoryGroupName}}
                <span class="remove-section glyphicon glyphicon-edit"
                      (click)="showAddGroupDialog($event, group.id)"></span>
            </div>

            <div class="categories">
                <category></category>
            </div>
        </li>

&lt;!&ndash;        <li class="add-cat-group" (click)="showAddGroupDialog($event)">
            <i class="glyphicon glyphicon-plus"></i> Добавить группу категорий
        </li>&ndash;&gt;
    </ul>
</div>-->

<div class="drop-menu">
    <div class="cat-groups" *ngFor="let group of categoryGroups">
        <div class="group" (mouseenter)="isShowCategories(group.id)">
            <div class="txt">
                {{group.categoryGroupName}}
                <span class="remove-section glyphicon glyphicon-edit"
                      (click)="showAddGroupDialog($event, group.id)"></span>
            </div>
            <div [ngClass]="{'categories-hide': group.id !== groupId, 'categories-show': group.id === groupId}">
                <category [categoryGroup]="group"></category>
            </div>
        </div>
    </div>
    <div class="cat-groups">
        <div class="group">
            <div class="txt" (click)="showAddGroupDialog($event)">
                <i class="glyphicon glyphicon-plus"></i> Добавить группу категорий
            </div>
        </div>
    </div>
</div>
