<div class="product">
    <div class="img-wrap">
        <img src="http://static.1k.by/images/productsimages/ip/big/pp2/1/2419849/i6828aef7d.jpg">
    </div>

    <span class="name">
        Lenovo Y700-15 (80NV00D8PB)
    </span>

    <span class="description">
        Intel Core i7 6700HQ (2600 МГц), 15.6'' (1920x1080), 1000 Гб (5400), 8192 Мб DDR4, NVIDIA GeForce GTX 960M (4096 Мб), веб-камера, 2.6 кг
    </span>

    <span class="price">
        от 1794,00 BYN
    </span>
    <div class="divider"></div>
</div>

<div class="product">
    <div class="img-wrap">
        <img src="http://static.1k.by/images/productsimages/ip/big/pp2/1/2419849/i6828aef7d.jpg">
    </div>

    <span class="name">
        Lenovo Y700-15 (80NV00D8PB)
    </span>

    <span class="description">
        Intel Core i7 6700HQ (2600 МГц), 15.6'' (1920x1080), 1000 Гб (5400), 8192 Мб DDR4, NVIDIA GeForce GTX 960M (4096 Мб), веб-камера, 2.6 кг
    </span>

    <span class="price">
        от 1794,00 BYN
    </span>
    <div class="divider"></div>
</div>

<div class="product">
    <div class="img-wrap">
        <img src="http://static.1k.by/images/productsimages/ip/big/pp2/1/2419849/i6828aef7d.jpg">
    </div>

    <span class="name">
        Lenovo Y700-15 (80NV00D8PB)
    </span>

    <span class="description">
        Intel Core i7 6700HQ (2600 МГц), 15.6'' (1920x1080), 1000 Гб (5400), 8192 Мб DDR4, NVIDIA GeForce GTX 960M (4096 Мб), веб-камера, 2.6 кг
    </span>

    <span class="price">
        от 1794,00 BYN
    </span>
    <div class="divider"></div>
</div>

<div class="product">
    <div class="img-wrap">
        <img src="http://static.1k.by/images/productsimages/ip/big/pp2/1/2419849/i6828aef7d.jpg">
    </div>

    <span class="name">
        Lenovo Y700-15 (80NV00D8PB)
    </span>

    <span class="description">
        Intel Core i7 6700HQ (2600 МГц), 15.6'' (1920x1080), 1000 Гб (5400), 8192 Мб DDR4, NVIDIA GeForce GTX 960M (4096 Мб), веб-камера, 2.6 кг
    </span>

    <span class="price">
        от 1794,00 BYN
    </span>
    <div class="divider"></div>
</div>

<div class="product">
    <div class="img-wrap">
        <img src="http://static.1k.by/images/productsimages/ip/big/pp2/1/2419849/i6828aef7d.jpg">
    </div>

    <span class="name">
        Lenovo Y700-15 (80NV00D8PB)
    </span>

    <span class="description">
        Intel Core i7 6700HQ (2600 МГц), 15.6'' (1920x1080), 1000 Гб (5400), 8192 Мб DDR4, NVIDIA GeForce GTX 960M (4096 Мб), веб-камера, 2.6 кг
    </span>

    <span class="price">
        от 1794,00 BYN
    </span>
    <div class="divider"></div>
</div>

<div class="product">
    <div class="img-wrap">
        <img src="http://static.1k.by/images/productsimages/ip/big/pp2/1/2419849/i6828aef7d.jpg">
    </div>

    <span class="name">
        Lenovo Y700-15 (80NV00D8PB)
    </span>

    <span class="description">
        Intel Core i7 6700HQ (2600 МГц), 15.6'' (1920x1080), 1000 Гб (5400), 8192 Мб DDR4, NVIDIA GeForce GTX 960M (4096 Мб), веб-камера, 2.6 кг
    </span>

    <span class="price">
        от 1794,00 BYN
    </span>
</div>
