

<div class="drop-menu">
    <spinner [isSpinnerVisible]="isSpinnerVisible"></spinner>
    <div class="groups">
        <div class="cat-groups" *ngFor="let group of categoryGroups; let i = index">
            <div class="group" (mouseenter)="isShowCategories(i)">
                <div class="txt" [ngClass]="{'txt-active': i === activeGroupIndex}">
                    {{group.categoryGroupName}}
                    <span class="remove-section glyphicon glyphicon-edit"
                          (click)="showCategoryGroupDialog($event, group.id)"
                          *ngIf="storageService.isAdmin()"
                          title="Изменить группу"></span>
                </div>
            </div>
        </div>
        <div class="cat-groups" *ngIf="storageService.isAdmin()">
            <div class="group">
                <div class="txt" (click)="showCategoryGroupDialog($event)">
                    <i class="glyphicon glyphicon-plus"></i> Добавить группу категорий
                </div>
            </div>
        </div>
    </div>

    <div class="categories" *ngIf="categoryGroup">
        <category [categoryGroup]="categoryGroup"></category>
    </div>
</div>


