<div class="header">
    <div class="logo"><a routerLink="/">Здесь будет любой логотип</a></div>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Введите запрос...">
        <span class="input-group-btn">
                <button class="btn btn-default" type="button">Найти!</button>
            </span>
    </div>

    <div class="right-buttons">
        <a routerLink="/cart" routerLinkActive="active">
            <button type="button" class="btn btn-default" (click)="openCart()">
                <span class="glyphicon glyphicon-shopping-cart"></span> Корзина
            </button>
        </a>

        <button *ngIf="!cookieService.getCookie('auth')"
                type="button" class="btn btn-default" (click)="showLoginDialog()">
            <span class="glyphicon glyphicon-log-in"></span> Войти / Регистрация
        </button>

        <button *ngIf="cookieService.getCookie('auth')"
                type="button" class="btn btn-default" (click)="logout()">
            <span class="glyphicon glyphicon-log-in"></span> Выйти
        </button>
    </div>
</div>
