<div class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3> Контакты </h3>
                <ul>
                    <li><a href="#"> <strong>Телефон:</strong> + 375 29 212-29-41 </a></li>
                    <li><a href="#"> <strong>Email:</strong> pavholm@yandex.ru </a></li>
                    <li><a href="#"> <strong>Адрес:</strong> г.Полоцк, ул.Коммунистическая </a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3> Социальные сети </h3>
                <ul>
                    <li><a href="#"> Мы в <strong>VK</strong> </a></li>
                    <li><a href="#"> Мы в <strong>Facebook</strong> </a></li>
                    <li><a href="#"> Мы в <strong>Twitter</strong> </a></li>
                    <li><a href="#"> Мы в <strong>Google +</strong> </a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3> Информация </h3>
                <ul>
                    <li><a href="#"> <strong>Мы работаем:</strong> с 8-00 до 20-00 </a></li>
                    <li><a href="#"> <strong>Рабочие дни:</strong> каждый день </a></li>
                </ul>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.footer-->

<div class="footer-bottom">
    <div class="container">
        <p class="pull-left">г. Полоцк, 2017. Павел Холмачёв. 12-ИТ-3.</p>
        <div class="pull-right">
            <ul class="nav nav-pills payments">
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-amex"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
            </ul>
        </div>
    </div>
</div>