<div class="content">
    <spinner [isSpinnerVisible]="isSpinnerVisible"></spinner>
    <div class="header">
        <div class="fileUpload btn btn-primary">
            <span class="glyphicon glyphicon-camera"></span> Добавить картинки
            <input type="file" class="upload"
                   (change)="onFileChange($event)"
                   name="file"/>
        </div>
        <a [routerLink]="'/' + [category.urlName]" routerLinkActive="active">
            <span class="close">Закрыть</span>
        </a>
    </div>

    <div class="wrapper">
        <div class="form-group" *ngIf="product.images">
            <div class="images">
                <div [class.main-image]="mainId === i"
                     class="image" *ngFor="let id of product.images; let i = index">
                    <img [src]="'http://localhost:8080/images/get/' + id">
                    <div class="set-main">
                        <span (click)="setMain(i)" *ngIf="mainId !== i">Сделать титульной</span>
                        <span *ngIf="mainId === i">Титульная</span>
                    </div>
                    <span class="delete glyphicon glyphicon-remove"
                          (click)="deleteImage(i)"></span>
                </div>
            </div>
        </div>

        <div class="properties">
            <div class="property">
                <span class="name">Название</span>
                <input class="input form-control" type="text"
                       [(ngModel)]="product.name" #productName='ngModel'
                       name="productName" id="productName">
            </div>
            <div class="property">
                <span class="name">Цена</span>
                <input class="input form-control" type="number"
                       [(ngModel)]="price.value" #priceValue='ngModel'
                       name="priceValue" id="priceValue">
            </div>
            <div class="property" *ngFor="let property of propertiesArray">
                <span class="name">{{property.property.name}}</span>
                <input class="input form-control" type="text"
                       [(ngModel)]="property.value" #value="ngModel">
            </div>

            <div class="button">
                <button class="btn btn-default" type="button" (click)="closeAddProduct()">Отмена</button>
                <button class="btn btn-primary" type="button" *ngIf="!isEdit"
                        (click)="addProduct()" [disabled]="isAddDisabled(productName)">Добавить товар
                </button>
                <button class="btn btn-primary" type="button" *ngIf="isEdit"
                        (click)="updateProduct()" [disabled]="isAddDisabled(productName)">Обновить товар
                </button>
            </div>
        </div>
    </div>
</div>
