<div class="content">
    <div class="header">
        <div class="fileUpload btn btn-primary">
            <span class="glyphicon glyphicon-camera"></span> Выбрать картинку
            <input type="file" class="upload"
                   (change)="onFileChange($event)"
                   name="file"/>
        </div>
        <span class="close" (click)="closeAddProduct()">Закрыть</span>
    </div>

    <div class="form-group" *ngIf="product.images">
        <div class="images">
            <div [class.main-image]="mainId === i"
                 class="image" *ngFor="let id of product.images; let i = index" >
                <img [src]="'http://localhost:8080/images/get/' + id">
                <div class="set-main">
                    <span (click)="setMain(i)" *ngIf="mainId !== i">Сделать титульной</span>
                    <span *ngIf="mainId === i">Титульная</span>
                </div>
                <span class="delete glyphicon glyphicon-remove"
                      (click)="deleteImage(i)"></span>
            </div>
        </div>
    </div>

    <div class="properties">
        <div class="property">
            <span class="name">Название</span>
            <input class="input form-control" type="text"
                   [(ngModel)]="product.name" #productName='ngModel'
                   name="productName" id="productName">
        </div>
        <div class="property" *ngFor="let property of propertiesArray">
            <span class="name">{{property.property.name}}</span>
            <input class="input form-control" type="text"
                   [(ngModel)]="property.value" #value="ngModel">
        </div>

        <div class="button">
            <button class="btn btn-default" type="button" (click)="closeAddProduct()">Отмена</button>
            <button class="btn btn-primary" type="button"
                    (click)="addProduct()" [disabled]="isAddDisabled(productName)">Добавить товар</button>
        </div>
    </div>
</div>
