<form #registerForm="ngForm" (ngSubmit)="register()" (keyup.enter)="enterEvent()">
    <modal-body [hidden]="!isRegister">
        <div class="form-group">
            <label for="reg-login">Логин</label>
            <input type="text" class="add-text form-control"
                   name="reg-login"
                   id="reg-login" required
                   [(ngModel)]="user.login" #regLogin="ngModel" pattern="^[а-яА-ЯёЁa-zA-Z0-9]{3,}$">
            <div class="input-error" [hidden]="regLogin.valid || regLogin.untouched">
                Только буквы и цифры. Длина не менее 3 символов
            </div>
        </div>
        <div class="form-group">
            <label for="reg-password">Пароль</label>
            <input type="password" class="add-text form-control"
                   name="reg-password"
                   id="reg-password" required
                   [(ngModel)]="user.password" #regPassword="ngModel"
                   pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
            <div class="input-error" [hidden]="regPassword.valid || regPassword.untouched">
                Минимум одна цифра, строчная и заглавная латинская буква. Длина не менее 6 символов
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="add-text form-control"
                   name="email"
                   id="email" required
                   [(ngModel)]="user.email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div class="input-error" [hidden]="email.valid || email.untouched">
                Введите корректный email
            </div>
        </div>
        <div class="form-group">
            <label for="fio">ФИО</label>
            <input type="text" class="add-text form-control"
                   name="fio"
                   id="fio" required
                   [(ngModel)]="user.fio" #fio="ngModel">
            <div class="input-error" [hidden]="fio.valid || fio.untouched">
                Введите фамилию, имя и отчество
            </div>
        </div>
        <div class="form-group">
            <label for="address">Адрес</label>
            <input type="text" class="add-text form-control"
                   name="address"
                   id="address" required
                   [(ngModel)]="user.address" #address="ngModel">
            <div class="input-error" [hidden]="address.valid || address.untouched">
                Введите адрес
            </div>
        </div>
    </modal-body>
</form>

<form #loginForm="ngForm" (ngSubmit)="logIn()" (keyup.enter)="enterEvent()">
    <modal-body *ngIf="!isRegister">

        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" class="add-text form-control"
                   name="login"
                   (keydown)="resetCorrectLogin($event)"
                   id="login" required
                   [ngClass]="{'error': !isCorrectLogin}"
                   [(ngModel)]="user.login" #login>
            <div class="input-error" [hidden]="isCorrectLogin">
                Пользователь с таким логином не зарегистрирован
            </div>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="add-text form-control"
                   name="password"
                   (keydown)="resetCorrectPassword()"
                   id="password" required
                   [ngClass]="{'error': !isCorrectPassword || (password.invalid && password.dirty)}"
                   [(ngModel)]="user.password" #password>
            <div class="input-error" [hidden]="isCorrectPassword || password.pristine">
                Неверный пароль
            </div>
        </div>

    </modal-body>
</form>

<modal-footer>
    <span class="delete" (click)="switchRegister()">
        {{isRegister ? 'У меня есть аккаунт. Войти' : 'У меня ещё нет аккаунта. Зарегистрироваться'}}
    </span>

    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="dialog.cancel()">Отмена
    </button>

    <button *ngIf="isRegister" type="submit" class="btn btn-primary"
            (click)="register()"
            [disabled]="!registerForm.form.valid">Регистрация
    </button>

    <button *ngIf="!isRegister" type="submit"
            class="btn btn-primary" (click)="logIn()"
            [disabled]="!loginForm.form.valid">Войти
    </button>
</modal-footer>
