<ul class="sections">
    <li *ngFor="let section of sections" (click)="switchCategory(section.id)">

        <span class="description">{{section.sectionName}}</span>
        <span class="remove-section glyphicon glyphicon-edit" (click)="showSectionDialog($event, section.id)"></span>
    </li>

    <li (click)="showSectionDialog($event)">
        <i class="glyphicon glyphicon-plus"></i> Добавить
    </li>
</ul>
<categoryGroup [class.showGroups]="showCategoryFlag" [class.hideGroups]="!showCategoryFlag"></categoryGroup>

<div class="content">
    <div class="current-category" *ngIf="category?.categoryName">
        <span class="category-name">
            {{category.categoryName}}
        </span>

        <span class="add-properties" (click)="showPropertiesDialog(category.id)">
            Добавить свойства
        </span>

        <span class="add-item">
            Добавить товар
        </span>

    </div>

    <div class="properties">

    </div>

    <div class="items">

    </div>
</div>

