<spinner [isSpinnerVisible]="isSpinnerVisible"></spinner>

<ul class="sections">
    <li *ngFor="let section of sections" (click)="switchCategory(section.id)">

        <span class="description">
            {{section.sectionName}}
        </span>
        <span class="remove-section glyphicon glyphicon-edit"
              (click)="showSectionDialog($event, section.id)"
              *ngIf="storageService.isAdmin()"></span>
    </li>

    <li (click)="showSectionDialog($event)" *ngIf="storageService.isAdmin()">
        <i class="glyphicon glyphicon-plus"></i> Добавить
    </li>
</ul>
<category-group [class.showGroups]="showCategoryFlag" [class.hideGroups]="!showCategoryFlag"></category-group>

<div class="content">
    <div class="current-category" *ngIf="category?.categoryName && !isProductDetailOpen">
        <div class="name-block">
            <span class="category-name">
                <span *ngIf="isPropertiesOpen">Свойства категории</span>
                <span *ngIf="isAddProductOpen">Добавить товар в категорию</span>
                {{category.categoryName}}
            </span>
        </div>
        <div class="add-block">
            <a [routerLink]="'/' + [category.urlName] + '/add-property'" routerLinkActive="active">
                <span class="add-properties"
                      *ngIf="storageService.isAdmin()">
                        Управление свойствами
                </span>
            </a>

            <a [routerLink]="'/' + [category.urlName] + '/add-product'" routerLinkActive="active">
                <span class="add-item" (click)="openAddProduct()"
                      *ngIf="storageService.isAdmin()">
                Добавить товар
                </span>
            </a>
        </div>
    </div>

    <div class="wrapper" *ngIf="isProductsOpen && !isProductDetailOpen">
        <div class="filter">
            <filter [propertiesWithValues]="propertiesWithValues" (onFilter)="applyFilter($event)"></filter>
        </div>
        <div class="products">
            <products [products]="products"></products>
        </div>
    </div>

    <properties *ngIf="isPropertiesOpen"
                [category]="category"></properties>

    <add-product *ngIf="isAddProductOpen"
                 [category]="category"></add-product>

    <productDetail *ngIf="isProductDetailOpen"></productDetail>
</div>

