<ul class="sections">
    <li *ngFor="let section of sections" (click)="switchCategory(section.id)">

        <span class="description">
            {{section.sectionName}}
        </span>
        <span class="remove-section glyphicon glyphicon-edit"
              (click)="showSectionDialog($event, section.id)"
              *ngIf="storageService.isAdmin()"></span>
    </li>

    <li (click)="showSectionDialog($event)" *ngIf="storageService.isAdmin()">
        <i class="glyphicon glyphicon-plus"></i> Добавить
    </li>
</ul>
<categoryGroup [class.showGroups]="showCategoryFlag" [class.hideGroups]="!showCategoryFlag"></categoryGroup>

<div class="content">
    <div class="current-category" *ngIf="category?.categoryName">
        <div class="name-block">
            <span class="category-name">
                <span *ngIf="isPropertiesOpen">Свойства категории</span>
                {{category.categoryName}}
            </span>
        </div>

        <div class="add-block">
            <span class="add-properties" (click)="openProperties()"
                  *ngIf="storageService.isAdmin()">
                    Управление свойствами
            </span>

            <span class="add-item" *ngIf="storageService.isAdmin()">
            Добавить товар
            </span>
        </div>
    </div>

    <div class="wrapper" *ngIf="isProductsOpen">
        <div class="filter" >
            <filter></filter>
        </div>
        <div class="products">
            <products></products>
        </div>
    </div>

    <properties *ngIf="isPropertiesOpen"
                [category]="category"
                (close)="closeProperties()"></properties>
</div>

