body {
  color: transparent;
}

.category {
  height: 200px;
  line-height: 100%;
  margin: 10px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  position: relative;

  &__img {
    width: 150px;
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4%;
  }

  &-add {

    &_block {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 4%;

      &.input {
        height: 40px;
      }
    }

    &__img {
      width: 100px;
    }
  }
}

.fileUpload {
  position: relative;
  overflow: hidden;
}

.delete {
  width: 15px;
  height: 15px;

  &-block {
    width: 15px;
    height: 15px;
    position: absolute;
    display: flex;
    right: 10px;
    top: 10px;

    &:hover {
      background: gainsboro;
    }
  }
}
