<spinner [isSpinnerVisible]="isSpinnerVisible"></spinner>

<!--<div class="alert alert-success alert-dismissable" *ngIf="showAlert" [@enterAnimation]="showAlert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{alertText}}
</div>-->

<div class="main-block">
    <sections [sections]="sections"></sections>
</div>

<div class="content">
    <span class="last-products">Последние товары на сайте</span>

    <div class="col-sm-3" *ngFor="let product of lastProducts">
        <article class="col-item">
            <div class="photo">
                <div class="options-cart-round">
                    <button class="btn btn-default" title="Добавить в корзину" (click)="addToCart(product)">
                        <span class="fa fa-shopping-cart"></span>
                    </button>
                </div>
                <a [routerLink]="'/' + [product.category.urlName] + '/' + [product.id]" routerLinkActive="active">
                    <img [src]="'http://localhost:8080/images/get/' + product.mainImageId" class="img-responsive"/>
                </a>
            </div>
            <div class="info">
                <div class="row">
                    <div class="price-details col-md-6">
                        <h1>{{product.name}}</h1>
                        <!--<span class="price-new">$110.00</span>-->
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>