<!--<div class="form-group">
    <label>Цена</label>
    <div class="cost">
        <input type="number" class="form-control" placeholder="От">
        <input type="number" class="form-control" placeholder="До">
    </div>
</div>-->

<div *ngFor="let value of propertiesWithValues | values">
    <ng-select
            (selected)="applyFilter($event, value.property.id)"
            (deselected)="applyFilter($event, value.property.id)"
            [options]="value.vals"
            [multiple]="true"
            [placeholder]="'Ничего не выбрано'"
            [label]="value.property.name">

    </ng-select>
</div>

<!--<div *ngFor="let value of propertiesWithValues | values">
    <label>{{value.property.name}}</label>
    <select class="form-control" [(ngModel)]="valueObj[value.property.id]" (change)="applyFilter()">
        <option [value]="null">
            Нет
        </option>
        <ng-template ngFor let-value [ngForOf]="value.vals" >
            <option *ngIf="value" [value]="value">
                {{value}}
            </option>
        </ng-template>
    </select>
</div>-->

<!--<label>Операционная система</label>
<select class="selectpicker" multiple
        data-width="100%"
        data-actions-box="true"
        data-none-selected-text="Ничего не выбрано"
        data-deselect-all-text="Отменить всё"
        data-select-all-text="Выбрать всё">
    <option>Adnroid</option>
    <option>Apple IOS</option>
    <option>Windows Phone</option>
    <option>Symbian</option>
    <option>Bada</option>
</select>-->
