<div class="form-group">
    <label>Цена</label>
    <div class="cost">
        <input type="email" class="form-control" placeholder="От">
        <input type="email" class="form-control" placeholder="До">
    </div>
</div>

<label>Производитель</label>
<select class="selectpicker" multiple
        data-width="100%"
        data-actions-box="true"
        data-none-selected-text="Ничего не выбрано"
        data-deselect-all-text="Отменить всё"
        data-select-all-text="Выбрать всё">
    <option>Sony</option>
    <option>Samsung</option>
    <option>Huawei</option>
    <option>Apple</option>
    <option>LG</option>
</select>

<label>Дата выхода на рынок</label>
<select class="selectpicker" multiple
        data-width="100%"
        data-actions-box="true"
        data-none-selected-text="Ничего не выбрано"
        data-deselect-all-text="Отменить всё"
        data-select-all-text="Выбрать всё">
    <option>2017</option>
    <option>2016</option>
    <option>2015</option>
    <option>2014</option>
    <option>2013</option>
</select>

<label>Операционная система</label>
<select class="selectpicker" multiple
        data-width="100%"
        data-actions-box="true"
        data-none-selected-text="Ничего не выбрано"
        data-deselect-all-text="Отменить всё"
        data-select-all-text="Выбрать всё">
    <option>Adnroid</option>
    <option>Apple IOS</option>
    <option>Windows Phone</option>
    <option>Symbian</option>
    <option>Bada</option>
</select>
